.primary{
	color:#2d3a4a;
}
.inverted {
	color: #ffffff;
}
.accent {
	color: #eac670;
}
.intermediate {
	color: #d0d8db;
}

@-webkit-keyframes bounce {
    0% {-webkit-transform: translateY(0px) translateZ(0)}
    50% {-webkit-transform: translateY(-2px) translateZ(0)}
    100% {-webkit-transform: translateY(0px) translateZ(0)}
}

.primary-button {
	margin: 30px auto;
	width: 180px;
	.purple-bg;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
}

.accent-button {
	margin: 30px auto;
	width: 180px;
	.accent-bg;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
}
.more-info {
	max-width: 300px;
	display:inline-block;
	margin-top: 40px;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	padding: 10px;
	.accent-bg;
}