.primary{
	color:#2d3a4a;
}
.inverted {
	color: #ffffff;
}
.accent {
	color: #eac670;
}
.intermediate {
	color: #d0d8db;
}

@-webkit-keyframes bounce {
    0% {-webkit-transform: translateY(0px) translateZ(0)}
    50% {-webkit-transform: translateY(-2px) translateZ(0)}
    100% {-webkit-transform: translateY(0px) translateZ(0)}
}