#header {
	height: 44px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	.purple-bg;
	box-shadow: 0 0 8px 0 rgba(0,0,0,1);

	.container{
		position: relative;

		#logo {
			width: 60px;
			height: 44px;
			position: absolute;
			left: 15px;
			top: 0;
			.purple-bg;
		}

		#navigation-wrapper {
			padding-left: 120px;

			#navigation-button {
				width:40px;
				height:40px;
				position: fixed;
				right: 2px;
				top: 2px;
				background-color: rgba(255,255,255,.2);
			}

			#follow {
				text-align: right;
				line-height: 24px;
				font-size: 11px;
				text-transform: uppercase;
				height: 32px;
				padding: 4px 10px;
				float: right;
				display: none;
				font-weight: 700;
				.accent-bg;

				.no-mobile {
					display: none;

					@media (min-width: @screen-sm-min) {
						display: inline;
					}
				}

				img {
					width: 20px;
					height: 20px;
				}

				@media (min-width: @screen-sm-min) {
					display: block;
				}
			}

			#navigation {
				display: table;
				table-layout: fixed;
				clear: both;
				float: right;
				margin-top:16px;

				ul {
					display: none;
					list-style: none;
					margin: 0px;
					padding: 0px;

					li {
						display: inline-block;

						a {
							display: block;
							font-size: 11px;
							line-height: 20px;
							text-decoration: none;
							text-transform: uppercase;
							border-radius: 8px 8px 0 0;
							font-weight: 700;
							padding: 10px;

							&:hover {
								text-decoration: none;
								background-color: rgba(255,255,255,.1);
								transition: .3s all;
								-webkit-transition: .3s all;
							}

							&#download-btn{
								font-weight: 700;
								text-transform: uppercase;
								padding-right: 0px;
								display: none;

								&:hover {
									text-decoration: none;
									background-color: rgba(255,255,255,.0);
								}

								div {
									border-radius: 10px;
									padding: 0 12px;
									font-size: 12px;
								}
							}
						}
					}
				}
			}
		}
	}

	@media (min-width: @screen-sm-min){
		height: 88px;

		.container{

			#logo {
				width: 90px;
				height: 88px;
			}

			#navigation-wrapper {

				#navigation-button{
					display: none;
				}

				#follow {
					display: block;
				}

				#navigation {

					ul {			
						display: inline-block;			

						li {

							a {
							}
						}
					}
				}
			}
		}
	}
}

#main-image {
	.inverted-bg;
	margin: 0 auto;
	padding-top: 44px;

	.container{
		position: relative;
		display: table;
		height: 300px;

		#main-text{
			display: table-cell;
			vertical-align:middle;
			margin: 0 auto;
			text-align:center;

			#main-headline {
				margin: 0 auto;
				font-weight: 700;
				font-size: 38px;
				text-transform: uppercase;
				line-height: 36px;
				margin-bottom: 6px;
				max-width: 540px;
			}

			#main-subhead {
				margin: 0 auto;
				position: relative;
				font-size:12px;
				text-transform: lowercase;
				height: 48px;
				line-height: 48px;
				.purple-bg;
				max-width: 540px;

				em {
					font-weight: 700;
				}
			}
		}
	}
	@media (min-width: @screen-xs-min){

		.container {

			#main-text{

				#main-headline {
				}

				#main-subhead {
					font-size:20px;
				}
			}
		}
	}
	@media (min-width: @screen-sm-min){

		.container {
			height: 400px;

			#main-text{

				#main-headline {
				}

				#main-subhead {
					font-size:24px;
				}
			}
		}
	}
	@media (min-width: @screen-md-min){
		padding-top: 88px;

		.container {
			height: 400px;

			#main-text{

				#main-headline {
				}

				#main-subhead {
				}
			}
		}
	}
	@media (min-width: @screen-lg-min){

	}
}

#about-blurb {
	padding: 12px 0;
	font-size: 12px;
	line-height: 20px;
	.purple-bg;

	.container {
		max-width: 600px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin: 0 auto;

		h3 {
			margin: 0px 0px 8px;
			font-weight: 700;
		}
	}

	@media (min-width: @screen-sm-min){
		font-size: 14px;
		line-height: 24px;

		.container {
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}
}

#news-and-multimedia {
	padding: 32px 0 24px;
	font-size: 14px;
	line-height: 20px;
	.inverted-bg;

	@media (min-width: @screen-sm-min){
		padding: 60px 0;
	}

	h3 {
		margin:0 0 8px;
	}

	.container {
		max-width: 970px;
		margin: 0 auto;

		.news {
			.intermediate-bg;

			.page{
				padding: 0px;
				border-bottom: 1px solid transparent;

				.entry {
					display:block;
					margin: 16px;

					.headline {
						font-weight: 700;
						font-size:14px;
						line-height: 16px;
					}

					.subhead {
						font-size:10px;
						line-height: 14px;
					}

					img {
						width: 60px;
						height: 60px;
						float: left;
						margin-right: 16px;

					}
				}

				@media (min-width: @screen-md-min){
					border-top: 1px solid transparent;

					.entry {
						 img {
							width: 85px;
							height: 85px;
						}
					}
				}
			}
		}

		.media {
			.intermediate-bg;

			.page{
				padding: 8px;

				.entry {
					display:block;
					float: left;
					width: 50%;
					padding: 8px;

					img {
						width: 100%;
						display: block;

						&:hover{
							outline:1px solid rgba(0,0,0,.05);
						}
					}
				}
			}

			@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max){

				.page{

					.entry {

						width: 25%;
					}
				}
			}

			@media (min-width: @screen-sm-min){
				margin-top: 0px;
			}
		}

		.view-more {
			width:144px;
			text-align: center;
			margin: 0 auto 32px;
			padding: 4px 0 0;
			font-weight:700;
			.accent-bg;

			&:after {
				content: '';
				position: absolute;
				top: 100%;
				left: 50%;
				margin-left: -72px;
				width: 0;
				height: 0;
				border-top: solid 12px @brand-accent;
				border-left: solid 72px transparent;
				border-right: solid 72px transparent;
			}
			@media (min-width: @screen-sm-min){
				margin: 0 auto;
			}
		}
	}
}

#animation-invisible {
	font-size: 24px;
	.purple-bg;

	.container{
		min-height: 400px;
		width:100%;
		@media (min-width: @screen-xs-min){
			display: table;
			table-layout: fixed;
		}

		#animated-drone-invisible-copy {
			vertical-align: middle;
			text-align: right;

			@media (min-width: @screen-xs-min){
				display: table-cell;
				width: 50%;
			}

			.copy{
				display: inline-block;
				padding-top: 40px;
				line-height: 28px;
				text-align: center;

				@media (min-width: @screen-sm-min){
					max-width: 400px;
					padding-top: 0px;
					padding-right: 40px;
				}

				@media (min-width: @screen-xs-min){
					text-align: left;
				}

				img {
					max-width: 80px;
					max-height: 80px;
					margin-bottom: 8px;
				}
			}
		}

		#animated-drone-invisible {
			vertical-align: middle;
			padding-top: 20px;
			padding-bottom: 40px;
			text-align: center;

			@media (min-width: @screen-xs-min){
				display: table-cell;
				width: 50%;
				padding-top: 0px;
				padding-bottom: 0px;
				text-align: left;
			}

			#animated-drone {
				width:100%;
				display: inline-block;
				max-width: 200px;
				-webkit-animation: drone-hover 3s ease-in-out;
			    -webkit-animation-iteration-count: infinite;

				@media (min-width: @screen-xs-min){
					max-width:400px;
				}
			}

			@-webkit-keyframes drone-hover {
			    0% {-webkit-transform: translateY(5%); opacity: 1;}
			    50% {-webkit-transform: translateY(-5%); opacity: .3;}
			    100% {-webkit-transform: translateY(5%); opacity: 1;}
			}
		}
	}
}

#airspace-headline {
	text-align: center;
	font-weight: 700;

	h3{
		margin: 32px 0;
	}
}
#airspace {
	margin: 0 auto;
	max-width: 1170px;
	
	#airspace-items {

		.airspace-item {
			border: 1px solid #fff;
			background-color: #eeeeee;
			text-align: center;
			padding: 0 24px;
			font-weight: 700;

			.airspace-item-wrapper{
				height: 200px;
				display:table;
				width:100%;

				@media (min-width: @screen-md-min){
					height: 300px;
				}

			 	.airspace-item-content {
			 		display:table-cell;
					vertical-align: middle;
					font-size:12px;
					transition: .3s ease-out;
			 		
			 	}

			 	&:hover .airspace-item-content {
			 		transform: scale(1.06) translateY(-8px);
			 		-webkit-transform: scale(1.06) translateY(-8px);
			 	}
			 }
		}
	}
}

#damage {
	font-size: 24px;
	.purple-bg;

	.container{
		min-height: 400px;
		width:100%;
		@media (min-width: @screen-xs-min){
			display: table;
			table-layout: fixed;
		}

		#damage-copy {
			vertical-align: middle;
			text-align: left;

			@media (min-width: @screen-xs-min){
				display: table-cell;
				width: 50%;
			}

			.copy{
				text-align: center;
				display: inline-block;
				padding-top: 40px;
				line-height: 28px;

				@media (min-width: @screen-sm-min){
					max-width: 400px;
					padding-top: 0px;
					padding-left: 40px;
				}

				@media (min-width: @screen-xs-min){
					text-align: right;
				}

				img {
					max-width: 80px;
					max-height: 80px;
					margin-bottom: 8px;
				}

				.more-info {
					margin-bottom: 20px;
				}
			}
		}

		#damage-image {
			vertical-align: bottom;
			padding-top: 20px;
			text-align: center;

			@media (min-width: @screen-xs-min){
				display: table-cell;
				width: 50%;
				text-align: right;
			}

			svg {
				width:100%;
				display: inline-block;
				max-width: 200px;
				vertical-align: bottom;

				/* -webkit-animation: drone-hover 3s ease-in-out;
			    -webkit-animation-iteration-count: infinite; */

				@media (min-width: @screen-xs-min){
					max-width:400px;
				}
			}

			@-webkit-keyframes drone-hover {
			    0% {-webkit-transform: translateY(5%); opacity: 1;}
			    50% {-webkit-transform: translateY(-5%); opacity: .3;}
			    100% {-webkit-transform: translateY(5%); opacity: 1;}
			}
		}
	}
}
#check-yourself {
	font-size: 16px;

	.container{
		min-height: 400px;
		@media (min-width: @screen-xs-min){
			display: table;
			table-layout: fixed;
		}

		#check-yourself-copy {
			vertical-align: middle;
			text-align: right;

			@media (min-width: @screen-sm-min){
				display: table-cell;
				width: 50%;
			}

			.copy{
				display: inline-block;
				padding-top: 40px;
				line-height: 28px;
				text-align: center;

				@media (min-width: @screen-sm-min){
					max-width: 400px;
					padding-top: 0px;
					padding-right: 40px;
				}

				@media (min-width: @screen-xs-min){
					text-align: left;
				}

				.check-item{
					display: table;
					width: 100%;
					table-layout:fixed;
					margin: 10px 0;
					transition: .3s;
					-webkit-transition: .3s;

					&:hover {
						transform: translatex(4px);
						-webkit-transform: translatex(4px);
					}

					.check-mark {
						display: table-cell;
						width: 60px;
						vertical-align: middle;

						svg {
							width: 60px;
							padding-right: 10px;
							fill: @brand-accent;
							padding-top:4px;
						}
					}

					.check-copy {
						display: table-cell;
						vertical-align: middle;
						font-size: 14px;
						line-height: 18px;
						font-weight: 700;
					}
				}
			}
		}

		#check-yourself-image-wrapper {
			vertical-align: middle;
			padding-top: 20px;
			padding-bottom: 40px;
			padding-left: 80px;
			text-align: center;
			display: none;

			@media (min-width: @screen-sm-min){
				display: table-cell;
				width: 50%;
				padding-top: 0px;
				padding-bottom: 0px;
				padding-left: 0px;
				text-align: left;
			}

			#check-yourself-image {
				width:100%;
				display: inline-block;
				max-width: 200px;
				fill: #2d3a4a;

				@media (min-width: @screen-xs-min){
					max-width:300px;
				}
			}

			@-webkit-keyframes drone-hover {
			    0% {-webkit-transform: translateY(5%); opacity: 1;}
			    50% {-webkit-transform: translateY(-5%); opacity: .3;}
			    100% {-webkit-transform: translateY(5%); opacity: 1;}
			}
		}
	}
}

#prepared {
	padding: 60px 0;
	.intermediate-bg;

	#prepared-headline {
		text-align: center;
		font-weight: 700;

		h3{
			margin: 0px 0 18px;
		}
	}

	.accent-button {
		margin: 18px auto 0px;
	}
}

#share {
	padding: 60px 0;
	.purple-bg;

	#share-headline {
		text-align: center;
		font-weight: 700;

		h3{
			margin: 0px 0 8px;
		}
	}

	#share-buttons {
		display: table;
		table-layout: fixed;
		width: 100%;
		max-width: 300px;
		margin: 20px auto 0;

		.share-button {
			display: table-cell;
			transition: .3s;
			-webkit-transition: .3s;

			&:hover {
				transform:scale(1.06) translateY(-2px);
				-webkit-transform:scale(1.06) translateY(-2px);
			}

			svg {
				width: 40px;
				fill:#fff;
			}
		}
	}
}

#organizations {
	padding: 60px 0;

	#organizations-headline {
		text-align: center;
		font-weight: 700;
		margin: 0 auto;
		max-width: 400px;

		h3{
			margin: 0px 0 8px;
		}

		h4{
			margin: 0px 0 24px;
			color:#555;
		}
	}

	#organizations-items {
		text-align: center;

		.organizations-item {
			display: inline-block;
			max-width: 230px;
			width: 40%;
			transition: .3s;
			-webkit-transition: .3s;

			&:hover {
				transform:scale(1.06) translateY(-2px);
				-webkit-transform:scale(1.06) translateY(-2px);
			}

			img {
				width: 100%;
				padding: 8px;

				@media (min-width: @screen-xs-min){
					padding: 14px;
				}
			}
		}
	}

	.primary-button {
		font-size: 10px;
		width: 220px;
		margin: 10px auto;

		@media (min-width: @screen-xs-min){
			margin: 20px auto;
		}
	}
}

#contact {
	padding: 60px 0;
	.purple-bg;

	h3 {
		.accent;
	}

	a {
		.accent;
	}

	form {
		margin-top: 20px;

		textarea {
			height: 160px;
		}
	}
}

#footer {
	
	.container {
		padding: 10px;
		font-size: 10px;
	}
}