body {
	
	&.no-scroll {
		overflow: hidden;
	}
}

#header {
	height: 44px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 4;
	.purple-bg;
	box-shadow: 0 0 8px 0 rgba(0,0,0,1);

	.container{
		position: relative;

		#logo {
			width: 60px;
			height: 44px;
			position: absolute;
			left: 15px;
			top: 0;
			.purple-bg;

			svg {
				height: 100%;
				padding: 8px 0;
			}
		}

		#navigation-wrapper {
			padding-left: 120px;

			#navigation-button {
				width:40px;
				height:40px;
				position: fixed;
				right: 2px;
				top: 2px;
				padding: 10px 6px 9px;

				&:hover {
					background-color: rgba(255,255,255,.1);
				}

				svg {
					width: 100%;
				}
			}

			#follow {
				text-align: right;
				line-height: 24px;
				font-size: 11px;
				text-transform: uppercase;
				height: 32px;
				padding: 4px 10px;
				float: right;
				display: none;
				font-weight: 600;
				.accent-bg;

				.no-mobile {
					display: none;

					@media (min-width: @screen-sm-min) {
						display: inline;
					}
				}

				svg {
					width: 20px;
					height: 20px;
					display: inline-block;
					vertical-align: middle;
					fill: #2d3a4a;
					margin-right: 4px;
				}

				@media (min-width: @screen-sm-min) {
					display: block;
				}
			}

			#navigation {
				display: table;
				table-layout: fixed;
				clear: both;
				float: right;
				margin-top:16px;

				ul {
					display: none;
					list-style: none;
					margin: 0px;
					padding: 0px;

					li {
						display: inline-block;

						a {
							display: block;
							font-size: 11px;
							line-height: 20px;
							text-decoration: none;
							text-transform: uppercase;
							border-radius: 8px 8px 0 0;
							font-weight: 600;
							padding: 10px;

							&:hover {
								text-decoration: none;
								background-color: rgba(255,255,255,.1);
								transition: .3s all;
								-webkit-transition: .3s all;
							}

							&#download-btn{
								font-weight: 600;
								text-transform: uppercase;
								padding-right: 0px;
								display: none;

								&:hover {
									text-decoration: none;
									background-color: rgba(255,255,255,.0);
								}

								div {
									border-radius: 10px;
									padding: 0 12px;
									font-size: 12px;
								}
							}
						}
					}
				}
			}
		}
	}

	@media (min-width: @screen-sm-min){
		height: 88px;

		.container{

			#logo {
				width: 90px;
				height: 88px;
			}

			#navigation-wrapper {

				#navigation-button{
					display: none;
				}

				#follow {
					display: block;
				}

				#navigation {

					ul {			
						display: inline-block;			

						li {

							a {
							}
						}
					}
				}
			}
		}
	}
}

#main-image {
	.inverted-bg;
	margin: 0 auto;
	padding-top: 44px;
	background: url('../img/hero.jpg');
	background-size: cover;
	background-position: bottom;

	&:before { 
		display: block; 
		content: " "; 
		margin-top: -44px; 
		height: 44px; 
		visibility: hidden; 

		@media (min-width: @screen-sm-min){
			margin-top: -88px; 
			height: 88px;
		}
	}

	@media (min-width: @screen-sm-min){
		padding-top: 88px;
	}

	.container{
		position: relative;
		padding: 0;
		width: 100%;
		background: url('../img/hero-bg.png');
		background-repeat: repeat;

		#hero-drone {
			margin: 40px auto 20px;
			width: 50%;
			max-width: 200px;
			/*
			-webkit-animation: drone-hover 5s ease-in-out;
		    -webkit-animation-iteration-count: infinite;
			animation: drone-hover 5s ease-in-out;
		    animation-iteration-count: infinite;
		    */

			@media (min-width: @screen-sm-min){
				margin: 60px auto 0;
			}

			img {
				width: 100%;
			}
		}

		#main-text{
			margin: 20px auto 40px;
			text-align:center;

			@media (min-width: @screen-sm-min){
				margin: 40px auto 80px;
			}

			#main-headline {
				margin: 0 auto;
				font-weight: 800;
				font-size: 36px;
				text-transform: uppercase;
				line-height: 36px;
				margin-bottom: 10px;
				text-shadow: 2px 2px 3px rgba(0,0,0,.4);
			}

			#main-subhead {
				margin: 0 auto;
				position: relative;
				font-size:11px;
				text-transform: lowercase;
				height: 48px;
				line-height: 48px;
				display: table;
				padding: 0 8px;

				@media (min-width: 360px){
					font-size:12px;
				}

				@media (min-width: 400px){
					font-size:14px;
				}

				@media (min-width: @screen-xs-min){
					font-size:18px;
				}

				@media (min-width: @screen-sm-min){
					font-size:20px;
				}

				em {
					font-weight: 600;
				}

				svg {
					width: 14px;
					height: 24px;
					display: block;
					fill: @brand-primary;
				}

				#main-subhead-left {
					width: 14px;
					height: 48px;
					display: table-cell;
					vertical-align: middle;
				}
				#main-subhead-center {
					height: 48px;
					display: table-cell;
					vertical-align: middle;
					.purple-bg;
					padding: 0 8px;
				}
				#main-subhead-right {
					width: 14px;
					height: 48px;
					display: table-cell;
					vertical-align: middle;
				}
			}
		}

		#main-scroll-indicator {
			margin: 10px auto 20px;
			font-size: 12px;
			color: #fff;
			text-transform: uppercase;
			text-align: center;
			font-weight: 800;
			text-shadow: 2px 2px 3px rgba(0,0,0,.6);
			width: 88px;

			a {
				color: #fff;
				text-decoration: none !important;
			}

			svg {
				display: block;
				margin: 0px auto;
				width: 20px;
				height: 20px;
			}

			&:hover {
				a {
					color: #fff;
				}

				svg {
					-webkit-animation:	bounce 2s ease-in-out;
				    -webkit-animation-iteration-count: infinite;
					animation:	bounce 2s ease-in-out;
				    animation-iteration-count: infinite;
				}
			}
		}
	}
}

#about-blurb {
	padding: 12px 0;
	font-size: 12px;
	line-height: 20px;
	.purple-bg;
	position: relative;
	overflow:hidden;

	&:before { 
		display: block; 
		content: " "; 
		margin-top: -44px; 
		height: 44px; 
		visibility: hidden; 

		@media (min-width: @screen-sm-min){
			margin-top: -88px; 
			height: 88px;
		}
	}

	&:after {
	    width: 600px;
	    height: 600px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#505b69+0,2d3a4b+58 */
		background: #505b69; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #505b69 0%, #2d3a4b 58%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#505b69), color-stop(58%,#2d3a4b)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #505b69 0%,#2d3a4b 58%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #505b69 0%,#2d3a4b 58%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #505b69 0%,#2d3a4b 58%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #505b69 0%,#2d3a4b 58%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505b69', endColorstr='#2d3a4b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	    position: absolute;
	    z-index: 1;
	    content: '';
	    left: 50%;
	    top: 50%;
	    margin-left: -300px;
	    margin-top: -300px;
	    opacity: .6;

	    @media (min-width: @screen-sm-min){
	    	opacity: 1;
	    }

	    @media (min-width: @screen-lg-min){
		    width: 1200px;
		    height: 1200px;
		    margin-left: -600px;
		    margin-top: -600px;
	    }
	}

	.container {
		max-width: 600px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin: 0 auto;
		z-index: 2;
		position: relative;

		h3 {
			margin: 0px 0px 8px;
			font-weight: 600;
		}
	}

	@media (min-width: @screen-sm-min){
		font-size: 14px;
		line-height: 24px;

		.container {
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}
}

#news-and-multimedia {
	padding: 32px 0 24px;
	font-size: 14px;
	line-height: 20px;
	.inverted-bg;

	&:before { 
		display: block; 
		content: " "; 
		margin-top: -44px; 
		height: 44px; 
		visibility: hidden; 

		@media (min-width: @screen-sm-min){
			margin-top: -88px; 
			height: 88px;
		}
	}

	@media (min-width: @screen-sm-min){
		padding: 60px 0;
	}

	h3 {
		margin:0 0 8px;
		font-weight: 600;
	}

	.container {
		max-width: 970px;
		margin: 0 auto;

		.news {
			.intermediate-bg;

			.page{
				padding: 0px;
				border-bottom: 1px solid transparent;

				.entry {
					display:block;
					margin: 16px;

					.headline {
						font-weight: 600;
						font-size:14px;
						line-height: 16px;
					}

					.subhead {
						font-size:10px;
						line-height: 14px;
					}

					img {
						width: 60px;
						height: 60px;
						float: left;
						margin-right: 16px;

					}
				}

				@media (min-width: @screen-md-min){
					border-top: 1px solid transparent;

					.entry {
						 img {
							width: 85px;
							height: 85px;
						}
					}
				}
			}
		}

		.media {
			.intermediate-bg;

			.page{
				padding: 8px;

				.entry {
					display:block;
					float: left;
					width: 50%;
					padding: 8px;

					img {
						width: 100%;
						display: block;

						&:hover{
							outline:1px solid rgba(0,0,0,.05);
						}
					}
				}
			}

			@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max){

				.page{

					.entry {

						width: 25%;
					}
				}
			}

			@media (min-width: @screen-sm-min){
				margin-top: 0px;
			}
		}

		.view-more {
			width:144px;
			text-align: center;
			margin: 0 auto 32px;
			padding: 4px 0 0;
			font-weight:600;
			.accent-bg;
	   		cursor: pointer;

			&:after {
				content: '';
				position: absolute;
				top: 100%;
				left: 50%;
				margin-left: -72px;
				width: 0;
				height: 0;
				border-top: solid 12px @brand-accent;
				border-left: solid 72px transparent;
				border-right: solid 72px transparent;
			}
			@media (min-width: @screen-sm-min){
				margin: 0 auto;
			}
		}
	}
}

#animation-invisible {
	font-size: 24px;
	.purple-bg;
	position: relative;
	overflow:hidden;

	&:after {
	    width: 600px;
	    height: 600px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#505b69+0,2d3a4b+58 */
		background: #505b69; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #505b69 0%, #2d3a4b 58%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#505b69), color-stop(58%,#2d3a4b)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #505b69 0%,#2d3a4b 58%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #505b69 0%,#2d3a4b 58%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #505b69 0%,#2d3a4b 58%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #505b69 0%,#2d3a4b 58%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505b69', endColorstr='#2d3a4b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	    position: absolute;
	    z-index: 1;
	    content: '';
	    left: 50%;
	    top: 50%;
	    margin-left: -300px;
	    margin-top: -300px;
	    opacity: .6;

	    @media (min-width: @screen-sm-min){
	    	opacity: 1;
	    }

	    @media (min-width: @screen-lg-min){
		    width: 1200px;
		    height: 1200px;
		    margin-left: -600px;
		    margin-top: -600px;
	    }
	}

	.container{
		min-height: 400px;
		width:100%;
		position: relative;
		z-index: 2;

		@media (min-width: @screen-xs-min){
			display: table;
			table-layout: fixed;
		}

		#animated-drone-invisible-copy {
			vertical-align: middle;
			text-align: right;

			@media (min-width: @screen-xs-min){
				display: table-cell;
				width: 50%;
			}

			.copy{
				display: inline-block;
				padding-top: 40px;
				line-height: 28px;
				text-align: center;

				@media (min-width: @screen-sm-min){
					max-width: 400px;
					padding-top: 0px;
					padding-right: 40px;
				}

				@media (min-width: @screen-xs-min){
					text-align: left;
				}

				svg {
					width: 80px;
					height: 80px;
					display: inline-block;
				}
			}
		}

		#animated-drone-invisible {
			vertical-align: middle;
			padding-top: 20px;
			padding-bottom: 40px;
			text-align: center;

			@media (min-width: @screen-xs-min){
				display: table-cell;
				width: 50%;
				padding-top: 0px;
				padding-bottom: 0px;
				text-align: left;
			}

			#animated-drone {
				width:100%;
				display: inline-block;
				max-width: 200px;
				-webkit-animation: invisible-drone-hover 5s ease-in-out;
			    -webkit-animation-iteration-count: infinite;
				animation: invisible-drone-hover 5s ease-in-out;
			    animation-iteration-count: infinite;
			    opacity: .5;

				@media (min-width: @screen-xs-min){
					max-width:400px;
				}
			}

		}
	}
}

#airspace-headline {
	text-align: center;

	h3{
		margin: 40px 0;
		font-size: 28px;
		font-weight: 800;
		text-transform: uppercase;
	}
}
#airspace {
	margin: 0 auto;
	
	#airspace-items {
	    background-image: url('../img/airspace.jpg');
	    background-size: cover;
	    background-attachment: fixed;
	    background-position: center;

		.airspace-item {
			border: 1px solid #fff;
			text-align: center;
			padding: 0 24px;
			font-weight: 600;
			/*
			transition: 2s;
			-webkit-transition: 2s;
			*/
			overflow:hidden;
			position: relative;

			/*
			&.not-selected {
			    margin-left: -300px;
				z-index: 1;
			}

			&.selected {
				z-index: 2;

			}
			*/

			.airspace-item-wrapper{
				height: 200px;
				display:table;
				width:100%;

				@media (min-width: @screen-md-min){
					height: 300px;
				}

			 	.airspace-item-content {
			 		display:table-cell;
					vertical-align: middle;
					font-size:13px;
					font-weight: 800;
					text-shadow: 1px 1px 3px rgba(0,0,0,.2);

					svg,
					img {
						width: 60px;
						height: 60px;
						display: block;
						margin: 0 auto 4px;
						transition: .2s ease-out;
						-webkit-transition: .2s ease-out;
						-webkit-backface-visibility: hidden;
					}
			 		
			 	}

			 	&:hover .airspace-item-content {
			 		svg,
			 		img {
				 		transform: translateY(-6px) translateZ(1px) scale(1.1);
				 		-webkit-transform: translateY(-6px) translateZ(1px) scale(1.1);
			 		}
			 	}
			 }
		}
	}
}

#damage {
	font-size: 24px;
	.purple-bg;
	position: relative;
	overflow:hidden;

	&:after {
	    width: 600px;
	    height: 600px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#505b69+0,2d3a4b+58 */
		background: #505b69; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #505b69 0%, #2d3a4b 58%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#505b69), color-stop(58%,#2d3a4b)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #505b69 0%,#2d3a4b 58%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #505b69 0%,#2d3a4b 58%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #505b69 0%,#2d3a4b 58%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #505b69 0%,#2d3a4b 58%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505b69', endColorstr='#2d3a4b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	    position: absolute;
	    z-index: 1;
	    content: '';
	    left: 50%;
	    top: 50%;
	    margin-left: -300px;
	    margin-top: -300px;
	    opacity: .6;

	    @media (min-width: @screen-sm-min){
	    	opacity: 1;
	    }

	    @media (min-width: @screen-lg-min){
		    width: 1200px;
		    height: 1200px;
		    margin-left: -600px;
		    margin-top: -600px;
	    }
	}

	.container{
		min-height: 400px;
		position: relative;
		z-index: 2;
		width:100%;
		@media (min-width: @screen-xs-min){
			display: table;
			table-layout: fixed;
		}

		#damage-drone {
			transform: rotateX(70deg) scale(.4);
			-webkit-transform: rotateX(70deg) scale(.4);
		}

		&:hover #damage-drone {
		    transition: 1s ease-in;
		    transform: translateX(-40%) translateY(210%) rotateX(-20deg) scale(1);
		    -webkit-transform: translateX(-40%) translateY(210%) rotateX(-20deg) scale(1);
		}

		#damage-copy {
			vertical-align: middle;
			text-align: left;

			@media (min-width: @screen-xs-min){
				display: table-cell;
				width: 50%;
			}

			.copy{
				text-align: center;
				display: inline-block;
				padding-top: 40px;
				line-height: 28px;

				@media (min-width: @screen-sm-min){
					max-width: 400px;
					padding-top: 0px;
					padding-left: 40px;
				}

				@media (min-width: @screen-xs-min){
					text-align: right;
				}

				svg {
					width: 60px;
					height: 60px;
					display: inline-block;
				}

				.more-info {
					max-width: 260px;
					margin-bottom: 20px;

					svg {
						width: 30px;
						height: 30px;
						display: inline-block;
					}
				}
			}
		}

		#damage-image {
			vertical-align: bottom;
			padding-top: 20px;
			text-align: center;

			@media (min-width: @screen-xs-min){
				display: table-cell;
				width: 50%;
				text-align: right;
			}

			svg {
				width:100%;
				display: inline-block;
				max-width: 200px;
				vertical-align: bottom;

				@media (min-width: @screen-xs-min){
					max-width:400px;
				}
			}
		}
	}
}
#check-yourself {
	font-size: 16px;

	.container{
		min-height: 400px;
		@media (min-width: @screen-xs-min){
			display: table;
			table-layout: fixed;
		}

		#check-yourself-copy {
			vertical-align: middle;
			text-align: right;

			@media (min-width: @screen-sm-min){
				display: table-cell;
				width: 50%;
			}

			.copy{
				display: inline-block;
				padding-top: 40px;
				line-height: 28px;
				text-align: center;

				@media (min-width: @screen-sm-min){
					max-width: 400px;
					padding-top: 40px;
					padding-bottom: 40px;
					padding-right: 40px;
				}

				@media (min-width: @screen-xs-min){
					text-align: left;
				}

				.check-item{
					display: table;
					width: 100%;
					table-layout:fixed;
					margin: 10px 0;
					transition: .3s;
					-webkit-transition: .3s;
					backface-visibility: hidden;
					-webkit-backface-visibility: hidden;

					&:hover {
						transform: translatex(4px);
						-webkit-transform: translatex(4px);
					}

					.check-mark {
						display: table-cell;
						width: 60px;
						vertical-align: middle;

						svg {
							width: 60px;
							padding-right: 10px;
							fill: @brand-accent;
							padding-top:4px;
						}
					}

					.check-copy {
						display: table-cell;
						vertical-align: middle;
						font-size: 14px;
						line-height: 18px;
						font-weight: 600;
					}
				}
			}
		}

		#check-yourself-image-wrapper {
			vertical-align: middle;
			padding-top: 20px;
			padding-bottom: 40px;
			padding-left: 80px;
			text-align: center;
			display: none;

			@media (min-width: @screen-sm-min){
				display: table-cell;
				width: 50%;
				padding-top: 0px;
				padding-bottom: 0px;
				padding-left: 0px;
				text-align: left;
			}

			#check-yourself-image {
				width:100%;
				display: inline-block;
				max-width: 200px;
				fill: #2d3a4a;

				@media (min-width: @screen-xs-min){
					max-width:300px;
				}
			}
		}
	}
}

#prepared {
	background-image: url(../img/infographic.jpg);
	background-size:cover;
	background-position: auto 80%;

	.container {
		padding: 60px 0;
		width: 100%;
		background: url('../img/hero-bg.png');

		#prepared-headline {
			text-align: center;

			h3{
				margin: 0px 0 18px;
				font-weight: 800;
				text-transform: uppercase;
				text-shadow: 2px 2px 3px rgba(0,0,0,.4);
			}
		}

		.accent-button {
			margin: 18px auto 0px;
			font-weight: 800;
		}
	}
}

#share {
	padding: 60px 0;
	.purple-bg;

	#share-headline {
		text-align: center;

		h3{
			text-transform: uppercase;
			margin: 0px 0 8px;
			font-weight: 600;
		}
	}

	#share-buttons {
		display: table;
		table-layout: fixed;
		width: 100%;
		max-width: 300px;
		margin: 20px auto 0;

		.share-button {
			display: table-cell;
			transition: .3s;
			-webkit-transition: .3s;
			backface-visibility: hidden;
			-webkit-backface-visibility: hidden;

			svg {
				backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				width: 40px;
				fill:#fff;
				border-radius: 50%;
			}

			&:hover {

				svg {
					transition: .1s;
					-webkit-transition: .1s;
					border: 2px solid @brand-accent;
					box-shadow: 0 0 3px 0 @brand-accent inset;
				}
			}
		}
	}
}

#organizations {
	padding: 60px 0;

	&:before { 
		display: block; 
		content: " "; 
		margin-top: -44px; 
		height: 44px; 
		visibility: hidden; 

		@media (min-width: @screen-sm-min){
			margin-top: -88px; 
			height: 88px;
		}
	}

	#organizations-headline {
		text-align: center;
		margin: 0 auto;
		max-width: 400px;

		h3{
			margin: 0px 0 8px;
			font-weight: 600;
		}

		h4{
			margin: 0px 0 24px;
			color:#555;
		}
	}

	#organizations-list {
		text-align: center;

		.organizations-item {
			display: inline-block;
			max-width: 230px;
			width: 40%;
			transition: .3s;
			-webkit-transition: .3s;

			&:hover {
				transform:scale(1.06) translateY(-2px);
				-webkit-transform:scale(1.06) translateY(-2px);
			}

			img {
				width: 100%;
				padding: 8px;

				@media (min-width: @screen-xs-min){
					padding: 14px;
				}
			}
		}
	}

	.primary-button {
		font-size: 10px;
		width: 220px;
		margin: 10px auto;

		@media (min-width: @screen-xs-min){
			margin: 20px auto;
		}
	}
}

#contact {
	padding: 60px 0;
	.purple-bg;

	&:before { 
		display: block; 
		content: " "; 
		margin-top: -44px; 
		height: 44px; 
		visibility: hidden; 

		@media (min-width: @screen-sm-min){
			margin-top: -88px; 
			height: 88px;
		}
	}

	h3 {
		margin: 0px 0px 4px;
		.accent;
	}

	a {
		.accent;
	}

	form {
		margin-top: 20px;

		textarea {
			height: 160px;
		}
	}
}

#footer {
	
	.container {
		padding: 10px;
		font-size: 10px;
	}
}

.panel {
	position: fixed;
	top:0;
	right: -580px;
	z-index: 4;
	.inverted-bg;
	height: 100vh;
	transition: .5s;
	-webkit-transition: .5s;
    width: 100%;
    max-width: 500px;

	&.active {
		right: 0;
	}
	
	.close-btn {
	    width: 60px;
	    height: 60px;
	    position: absolute;
	    top: 0px;
	    right: 20px;
	    padding: 20px;
	    cursor: pointer;

	    svg{
	    	width: 100%;
	    }

		@media (min-width: @screen-xs-min){
		    top: 20px;
		    left: -60px;
		    right: auto;
	   		background-color: #fff;
		}

	}

	.panel-content{
		overflow-y: auto;
		height: 100vh;
		padding: 24px;
	    width: 100%;
	    max-width: 500px;
		
		.panel-headline {
			font-size: 24px;
			font-weight: 600;
			border-bottom: 2px solid #ccc;
			padding-bottom: 10px;
			margin-bottom: 10px;
	    	text-transform: uppercase;

			@media (min-width: @screen-xs-min){
				font-size: 32px;
			}
		}

		.form-group {
			font-size: 12px;

			label {
			}

			select {
				font-size: 12px;
			}
		}
		#news-posts{
			height: 100%;

			.news-post {
			    display: table;
			    table-layout: fixed;
			    margin: 40px 24px 40px 0px;

			    .news-post-image {
				    display: table-cell;
				    width: 80px;
			   	 	vertical-align: top;

				    img {
					    width: 100%;
					}
				}

				.news-post-copy {
				    display: table-cell;
				    padding-left: 24px;
				    font-size: 12px;
			   	 	vertical-align: top;
			   	 	line-height: 14px;

				    .headline {
				    	font-size: 14px;
				    	font-weight: bold;
				    }

				    .date {
				    	font-size: 10px;
				    	margin-bottom: 8px;
				    }
				}
			}
		}
		#media-posts{
			height: 100%;

			.media-post {
			   	padding: 10px;
			    display: inline-block;
			    width: 49%;

			    .media-post-image {

				    img {
					    width: 100%;
					}
				}
			}
		}
	}
}

#news-header {
	.inverted-bg;
	margin: 0 auto;
	padding-top: 44px;

	@media (min-width: @screen-sm-min){
		padding-top: 88px;
	}

	.container{
		max-width: 670px;

		#news-photo{
			margin-top: 40px;
			position: relative;
			.inverted;

			img {
				width: 100%;
			}

			#news-photo-copy {
				position: absolute;
				bottom: 10px;
				left: 20px;
				right: 20px;

				@media (min-width: @screen-sm-min){
					bottom: 20px;
					left: 40px;
					right: 40px;
				}

				#news-photo-headline {
					font-size: 20px;
					line-height: 22px;
					margin-bottom: 2px;

					@media (min-width: @screen-sm-min){
						font-size: 22px;
						line-height: 24px;
					}
				}

				#news-photo-date {
					font-size: 12px;
				}
			}
		}
	}
}
#news-content {
	padding:10px 15px 10px;
	font-size: 13px;
	line-height: 22px;

	@media (min-width: @screen-sm-min){
		padding:40px 40px 10px;
	}

	.container {
		padding-left: 0px;
		padding-right: 0px;
		max-width: 570px;
		padding-bottom: 20px;
		border-bottom: 2px solid #ccc;
	}
}

#news-comments {
	padding:0px 15px 10px;

	@media (min-width: @screen-sm-min){
		padding:0 40px 40px;
	}

	.container {
		padding-left: 0px;
		padding-right: 0px;
		max-width: 570px;
		padding-bottom: 20px;
	}
}

#organizations-header {
	.inverted-bg;
	margin: 0 auto;
	padding-top: 44px;
	width: 100%;

	@media (min-width: @screen-sm-min){
		padding-top: 88px;
	}

	.container{
		padding: 60px 30px;
		display: table;
		table-layout: fixed;

		@media (min-width: @screen-sm-min){
			padding: 100px 30px;
		}

		#organizations-header-copy {
			font-size: 14px;
			display: table-cell;
			vertical-align: middle;
			width: 100%;

			h3 {
				margin: 0px 0px 4px;
			}
		}
	}
}

#organizations-items {
	padding: 60px;	
	.intermediate-bg;

	.container {
		text-align: center;

		[class*="col-"] {
		    float: none;
		    display: inline-block;
		    margin-left: -4px;
		}
	
		.organizations-item {
			padding: 10px;

			img {
				max-width:100%;
			}
		}
	}

	.accent-button {
		margin: 30px 30px 0;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,.6);
	z-index: 3;
	display: none;

	&.active{
		display: block;
	}
}